<div class="container">
  <div class="row">
    <div class=".col-xs-12">
      <p>App name: {{ name }}</p>
      <label>Username: </label>
      <input
        type="text"
        class="form-control"
      [(ngModel)]="username"> <!-- FormsModule must be imported in app.module.ts to use ngModel -->
      <p>Changed username: {{ username }}</p>
      <button
        class="btn but-primary"
        [disabled]="username === ''"
        (click)="onClearUsername()">Clear Username</button>
      <hr>
      <app-servers></app-servers>
    </div>
    <div>
      <app-success-alert></app-success-alert>
      <app-warning-alert></app-warning-alert>
    </div>
  </div>
</div>
